<!-- Created with Inkscape (http://www.inkscape.org/) -->

<a href="/">
<svg
   width="1 rem" height="auto"
   opacity="0.87"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   viewBox="0 0 1464.5143 419.75595"
   id="svg2"
   xml:space="preserve"
   inkscape:version="0.92.4 5da689c313, 2019-01-14"
   sodipodi:docname="ddnet-logo.svg"><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#ffffff"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     id="namedview4865"
     showgrid="false"
     fit-margin-top="20"
     fit-margin-left="20"
     fit-margin-bottom="20"
     fit-margin-right="20"
     showguides="false"
     inkscape:pagecheckerboard="true" /><metadata
     id="metadata8"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
     id="defs6"><clipPath
       id="clipPath100"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path102"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask104"><g
         id="g106"><g
           clip-path="url(#clipPath100)"
           id="g108"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path110"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath116"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path118"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath120"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path122"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern124"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g126" /><g
         id="g128"><g
           id="g130"
           clip-path="url(#clipPath120)"><g
             id="g132"><path
               id="path134"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 323.945,218.777 c 6.078,-8.867 -1.269,-10.64 -12.543,-10.515 -11.277,0.129 -14.886,-0.379 -16.218,1.84 -1.329,2.214 0.699,-4.309 2.789,-4.625 2.089,-0.317 21.535,-0.508 26.289,1.394 4.75,1.899 5.004,3.418 3.609,6.965 -1.394,3.551 -4.117,5.004 -3.926,4.941 z" /></g></g></g></pattern><clipPath
       id="clipPath170"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path172"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask174"><g
         id="g176"><g
           clip-path="url(#clipPath170)"
           id="g178"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path180"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath186"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path188"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath190"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path192"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern194"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g196" /><g
         id="g198"><g
           id="g200"
           clip-path="url(#clipPath190)"><g
             id="g202"><path
               id="path204"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 350.438,218.777 c 6.082,-8.867 -1.266,-10.64 -12.543,-10.515 -11.278,0.129 -14.887,-0.379 -16.215,1.84 -1.332,2.214 0.695,-4.309 2.785,-4.625 2.09,-0.317 21.539,-0.508 26.289,1.394 4.75,1.899 5.004,3.418 3.609,6.965 -1.39,3.551 -4.117,5.004 -3.925,4.941 z" /></g></g></g></pattern><clipPath
       id="clipPath226"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path228"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask230"><g
         id="g232"><g
           clip-path="url(#clipPath226)"
           id="g234"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path236"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath242"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path244"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath246"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path248"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern250"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g252" /><g
         id="g254"><g
           id="g256"
           clip-path="url(#clipPath246)"><g
             id="g258"><path
               id="path260"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 81.828,141.145 c 7.988,-11.653 -1.664,-13.985 -16.48,-13.817 -14.817,0.164 -19.563,-0.5 -21.313,2.414 -1.746,2.914 0.918,-5.66 3.664,-6.078 2.746,-0.414 28.301,-0.664 34.543,1.832 6.242,2.496 6.578,4.496 4.746,9.156 -1.832,4.66 -5.41,6.575 -5.16,6.493 z" /></g></g></g></pattern><clipPath
       id="clipPath296"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path298"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask300"><g
         id="g302"><g
           clip-path="url(#clipPath296)"
           id="g304"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path306"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath312"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path314"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath316"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path318"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern320"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g322" /><g
         id="g324"><g
           id="g326"
           clip-path="url(#clipPath316)"><g
             id="g328"><path
               id="path330"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 116.641,141.145 c 7.992,-11.653 -1.664,-13.985 -16.481,-13.817 -14.816,0.164 -19.562,-0.5 -21.308,2.414 -1.75,2.914 0.914,-5.66 3.66,-6.078 2.746,-0.414 28.3,-0.664 34.547,1.832 6.242,2.496 6.574,4.496 4.742,9.156 -1.832,4.66 -5.41,6.575 -5.16,6.493 z" /></g></g></g></pattern><clipPath
       id="clipPath352"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path354"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask356"><g
         id="g358"><g
           clip-path="url(#clipPath352)"
           id="g360"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path362"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath368"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path370"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath372"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path374"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern376"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g378" /><g
         id="g380"><g
           id="g382"
           clip-path="url(#clipPath372)"><g
             id="g384"><path
               id="path386"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 134.754,269.227 c 5.066,-7.391 -1.055,-8.868 -10.449,-8.762 -9.395,0.105 -12.407,-0.317 -13.512,1.531 -1.109,1.844 0.578,-3.59 2.32,-3.855 1.742,-0.262 17.946,-0.422 21.903,1.164 3.961,1.582 4.172,2.847 3.011,5.804 -1.164,2.953 -3.433,4.168 -3.273,4.118 z" /></g></g></g></pattern><clipPath
       id="clipPath422"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path424"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask426"><g
         id="g428"><g
           clip-path="url(#clipPath422)"
           id="g430"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path432"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath438"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path440"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath442"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path444"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern446"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g448" /><g
         id="g450"><g
           id="g452"
           clip-path="url(#clipPath442)"><g
             id="g454"><path
               id="path456"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 156.828,269.227 c 5.067,-7.391 -1.055,-8.868 -10.449,-8.762 -9.399,0.105 -12.406,-0.317 -13.512,1.531 -1.109,1.844 0.578,-3.59 2.321,-3.855 1.742,-0.262 17.945,-0.422 21.902,1.164 3.961,1.582 4.172,2.847 3.008,5.804 -1.16,2.953 -3.43,4.168 -3.27,4.118 z" /></g></g></g></pattern><clipPath
       id="clipPath478"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path480"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask482"><g
         id="g484"><g
           clip-path="url(#clipPath478)"
           id="g486"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path488"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath494"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path496"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath498"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path500"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern502"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g504" /><g
         id="g506"><g
           id="g508"
           clip-path="url(#clipPath498)"><g
             id="g510"><path
               id="path512"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 225.184,53.727 c 10.726,-15.641 -2.235,-18.77 -22.122,-18.547 -19.886,0.222 -26.257,-0.672 -28.601,3.238 -2.348,3.91 1.227,-7.598 4.914,-8.156 3.687,-0.559 37.988,-0.891 46.367,2.461 8.379,3.351 8.828,6.031 6.371,12.289 -2.461,6.258 -7.265,8.828 -6.929,8.715 z" /></g></g></g></pattern><clipPath
       id="clipPath548"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path550"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask552"><g
         id="g554"><g
           clip-path="url(#clipPath548)"
           id="g556"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path558"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath564"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path566"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath568"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path570"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern572"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g574" /><g
         id="g576"><g
           id="g578"
           clip-path="url(#clipPath568)"><g
             id="g580"><path
               id="path582"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 271.914,53.727 c 10.727,-15.641 -2.234,-18.77 -22.121,-18.547 -19.891,0.222 -26.258,-0.672 -28.605,3.238 -2.344,3.91 1.23,-7.598 4.917,-8.156 3.688,-0.559 37.989,-0.891 46.368,2.461 8.379,3.351 8.824,6.031 6.367,12.289 -2.457,6.258 -7.262,8.828 -6.926,8.715 z" /></g></g></g></pattern><clipPath
       id="clipPath604"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path606"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask608"><g
         id="g610"><g
           clip-path="url(#clipPath604)"
           id="g612"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path614"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath620"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path622"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath624"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path626"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern628"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g630" /><g
         id="g632"><g
           id="g634"
           clip-path="url(#clipPath624)"><g
             id="g636"><path
               id="path638"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 502.84,256.66 c 5.199,-7.582 -1.082,-9.098 -10.723,-8.992 -9.64,0.109 -12.73,-0.324 -13.867,1.57 -1.137,1.899 0.598,-3.679 2.383,-3.953 1.789,-0.269 18.414,-0.433 22.476,1.192 4.063,1.625 4.282,2.925 3.09,5.957 -1.191,3.035 -3.523,4.281 -3.359,4.226 z" /></g></g></g></pattern><clipPath
       id="clipPath674"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path676"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask678"><g
         id="g680"><g
           clip-path="url(#clipPath674)"
           id="g682"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path684"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath690"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path692"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath694"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path696"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern698"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g700" /><g
         id="g702"><g
           id="g704"
           clip-path="url(#clipPath694)"><g
             id="g706"><path
               id="path708"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 525.492,256.66 c 5.199,-7.582 -1.082,-9.098 -10.722,-8.992 -9.641,0.109 -12.731,-0.324 -13.868,1.57 -1.136,1.899 0.598,-3.679 2.383,-3.953 1.789,-0.269 18.418,-0.433 22.477,1.192 4.062,1.625 4.281,2.925 3.09,5.957 -1.192,3.035 -3.52,4.281 -3.36,4.226 z" /></g></g></g></pattern><clipPath
       id="clipPath730"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path732"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask734"><g
         id="g736"><g
           clip-path="url(#clipPath730)"
           id="g738"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path740"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath746"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path748"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath750"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path752"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern754"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g756" /><g
         id="g758"><g
           id="g760"
           clip-path="url(#clipPath750)"><g
             id="g762"><path
               id="path764"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 453.883,89.5 c 8.055,-11.746 -1.68,-14.098 -16.613,-13.93 -14.938,0.168 -19.719,-0.504 -21.481,2.434 -1.762,2.937 0.922,-5.707 3.691,-6.125 2.77,-0.418 28.528,-0.672 34.821,1.848 6.293,2.515 6.629,4.531 4.785,9.226 -1.848,4.699 -5.457,6.629 -5.203,6.547 z" /></g></g></g></pattern><clipPath
       id="clipPath800"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path802"
         inkscape:connector-curvature="0" /></clipPath><mask
       id="mask804"><g
         id="g806"><g
           clip-path="url(#clipPath800)"
           id="g808"><path
             d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
             id="path810"
             style="fill:#ffffff;fill-opacity:0.2;fill-rule:nonzero;stroke:none"
             inkscape:connector-curvature="0" /></g></g></mask><clipPath
       id="clipPath816"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path818"
         inkscape:connector-curvature="0" /></clipPath><clipPath
       id="clipPath820"><path
         d="m 0,0 1440,0 0,320 L 0,320 0,0 z"
         id="path822"
         inkscape:connector-curvature="0" /></clipPath><pattern
       id="pattern824"
       height="320"
       width="1440"
       y="0"
       x="0"
       patternUnits="userSpaceOnUse"><g
         id="g826" /><g
         id="g828"><g
           id="g830"
           clip-path="url(#clipPath820)"><g
             id="g832"><path
               id="path834"
               style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
               d="m 488.977,89.5 c 8.054,-11.746 -1.68,-14.098 -16.614,-13.93 -14.937,0.168 -19.718,-0.504 -21.48,2.434 -1.762,2.937 0.922,-5.707 3.691,-6.125 2.77,-0.418 28.528,-0.672 34.821,1.848 6.293,2.515 6.628,4.531 4.781,9.226 -1.844,4.699 -5.453,6.629 -5.199,6.547 z" /></g></g></g></pattern></defs><g
     id="g6307"
     transform="translate(-318.3381,11.82749)"><g
       id="g11733"
       transform="matrix(4.5395627,0,0,4.5395627,-6903.2795,-2129.2893)"><path
         id="path3298-6-5-2-4-0-8-3"
         d="m 1687.5419,492.51828 c 0,1.51405 -4.9038,2.74138 -10.953,2.74138 -6.049,0 -10.9528,-1.22733 -10.9528,-2.74138 0,-1.51398 4.9038,-2.74135 10.9528,-2.74135 6.0492,0 10.953,1.22737 10.953,2.74135 z"
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:1.20425689;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         inkscape:connector-curvature="0" /><path
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:1.20425689;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         d="m 1676.6082,488.56109 c -7.9551,0 -14.4055,1.89219 -14.4055,4.22104 0,2.32881 6.4504,4.20935 14.4055,4.20935 7.9551,0 14.4053,-1.88054 14.4053,-4.20935 0,-2.32885 -6.4502,-4.22104 -14.4053,-4.22104 z"
         id="path3300-9-8-3-3-9-8-6"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="sssss" /><g
         id="g8744-1-2-0-2-5-6-9"
         transform="matrix(0.48170278,0,0,0.48170278,1076.8685,13.790752)"><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path468-4-1-4-0-0-2-9"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path472-7-0-6-5-5-0-6"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path524-8-2-0-1-2-1-4"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:2.95030189;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path528-4-3-9-8-3-4-1"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.31124532;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9225,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path538-1-6-1-6-2-6-1"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9215,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path542-8-1-7-3-6-0-5"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1247.8295,971.31102 c 0,3.19142 -1.3204,5.77859 -2.9492,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19142 1.3204,-5.77858 2.9492,-5.77858 1.6288,0 2.9492,2.58716 2.9492,5.77858 z"
           id="path3308-6-4-3-3-2-2-4-5" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1240.0892,971.30643 c 0,3.19142 -1.3204,5.77859 -2.9493,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19143 1.3204,-5.77859 2.9492,-5.77859 1.6289,0 2.9493,2.58716 2.9493,5.77859 z"
           id="path3308-6-8-1-0-0-0-2-1-2" /></g><path
         id="path3298-6-5-2-4-0-8"
         d="m 1641.5586,513.85549 c 0,2.70431 -8.7589,4.89651 -19.5636,4.89651 -10.8045,0 -19.5633,-2.1922 -19.5633,-4.89651 0,-2.70419 8.7588,-4.89645 19.5633,-4.89645 10.8047,0 19.5636,2.19226 19.5636,4.89645 z"
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:2.15098;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         inkscape:connector-curvature="0" /><path
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:2.15098;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         d="m 1622.0294,506.78736 c -14.2091,0 -25.7303,3.37973 -25.7303,7.53939 0,4.15961 11.5212,7.51853 25.7303,7.51853 14.209,0 25.7299,-3.35892 25.7299,-7.51853 0,-4.15966 -11.5209,-7.53939 -25.7299,-7.53939 z"
         id="path3300-9-8-3-3-9-8"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="sssss" /><g
         id="g8744-1-2-0-2-5-6"
         transform="matrix(0.86039199,0,0,0.86039199,550.80606,-341.22226)"><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path468-4-1-4-0-0-2"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path472-7-0-6-5-5-0"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path524-8-2-0-1-2-1"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:2.95030189;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path528-4-3-9-8-3-4"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.31124532;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9225,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path538-1-6-1-6-2-6"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9215,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path542-8-1-7-3-6-0"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1253.5811,973.64628 c 0,3.19142 -1.3204,5.77859 -2.9492,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19142 1.3204,-5.77858 2.9492,-5.77858 1.6288,0 2.9492,2.58716 2.9492,5.77858 z"
           id="path3308-6-4-3-3-2-2-4" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1245.8408,973.64169 c 0,3.19142 -1.3204,5.77859 -2.9493,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19143 1.3204,-5.77859 2.9492,-5.77859 1.6289,0 2.9493,2.58716 2.9493,5.77859 z"
           id="path3308-6-8-1-0-0-0-2-1" /></g><path
         id="path3298-6-5-2-4-0"
         d="m 1720.948,513.95906 c 0,2.48057 -8.0343,4.4914 -17.945,4.4914 -9.9107,0 -17.9448,-2.01083 -17.9448,-4.4914 0,-2.48045 8.0341,-4.49134 17.9448,-4.49134 9.9107,0 17.945,2.01089 17.945,4.49134 z"
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:1.97301769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         inkscape:connector-curvature="0" /><path
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:1.97301769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         d="m 1703.0344,507.47572 c -13.0334,0 -23.6013,3.10011 -23.6013,6.91562 0,3.81546 10.5679,6.89648 23.6013,6.89648 13.0335,0 23.6013,-3.08102 23.6013,-6.89648 0,-3.81551 -10.5678,-6.91562 -23.6013,-6.91562 z"
         id="path3300-9-8-3-3-9"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="sssss" /><g
         id="g8744-1-2-0-2-5"
         transform="matrix(0.78920714,0,0,0.78920714,720.43924,-270.3735)"><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path468-4-1-4-0-0"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path472-7-0-6-5-5"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path524-8-2-0-1-2"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:2.95030189;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path528-4-3-9-8-3"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.31124532;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9225,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path538-1-6-1-6-2"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9215,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path542-8-1-7-3-6"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1249.1085,972.15392 c 0,3.19142 -1.3204,5.77859 -2.9492,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19142 1.3204,-5.77858 2.9492,-5.77858 1.6288,0 2.9492,2.58716 2.9492,5.77858 z"
           id="path3308-6-4-3-3-2-2" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1241.3682,972.14933 c 0,3.19142 -1.3204,5.77859 -2.9493,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19143 1.3204,-5.77859 2.9492,-5.77859 1.6289,0 2.9493,2.58716 2.9493,5.77859 z"
           id="path3308-6-8-1-0-0-0-2" /></g><path
         id="path3298-6-5-2-4"
         d="m 1686.9665,538.2123 c 0,4.0048 -12.9709,7.2512 -28.9714,7.2512 -16.0004,0 -28.9713,-3.2464 -28.9713,-7.2512 0,-4.0046 12.9709,-7.2511 28.9713,-7.2511 16.0005,0 28.9714,3.2465 28.9714,7.2511 z"
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:3.18536258;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         inkscape:connector-curvature="0" /><path
         style="color:#ffffff;fill:none;stroke:#ffffff;stroke-width:3.18536258;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
         d="m 1658.0459,527.7452 c -21.042,0 -38.1034,5.005 -38.1034,11.165 0,6.1599 17.0614,11.1341 38.1034,11.1341 21.0418,0 38.1033,-4.9742 38.1033,-11.1341 0,-6.16 -17.0615,-11.165 -38.1033,-11.165 z"
         id="path3300-9-8-3-3"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="sssss" /><g
         id="g8744-1-2-0-2"
         transform="matrix(1.2741451,0,0,1.2741451,71.683243,-728.0629)"><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path468-4-1-4-0"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1227.6825,990.32006 c 0,-4.10674 4.9224,-6.13008 9.5679,-6.05721 4.6456,0.0732 10.7334,2.74159 10.7334,6.48293 0,3.74044 -6.3572,3.56613 -10.7334,3.56613 -2.2043,0 -6.2112,0.27933 -7.9355,-0.69884 -1.7003,-0.96573 -1.7055,-3.29301 -1.6324,-3.29301 z"
           id="path472-7-0-6-5"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346242;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path524-8-2-0-1"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:2.95030189;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1262.264,973.83207 c 0,10.16936 -8.2434,18.41259 -18.4125,18.41259 -10.1695,0 -18.4129,-8.24323 -18.4129,-18.41259 0,-10.1694 8.2434,-18.41293 18.4129,-18.41293 10.1691,0 18.4125,8.24353 18.4125,18.41293 z"
           id="path528-4-3-9-8"
           style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.31124532;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9225,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path538-1-6-1-6"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:2.2043283;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           d="m 1243.0216,990.32006 c 0,-4.10674 4.9215,-6.13008 9.5682,-6.05721 4.6454,0.0732 10.7335,2.74159 10.7335,6.48293 0,3.74044 -6.3573,3.56613 -10.7335,3.56613 -2.2042,0 -6.2112,0.27933 -7.9371,-0.69884 -1.7003,-0.96573 -1.7039,-3.29301 -1.6311,-3.29301 z"
           id="path542-8-1-7-3"
           style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1.76346671;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
           inkscape:connector-curvature="0" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1250.3985,972.41196 c 0,3.19142 -1.3204,5.77859 -2.9492,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19142 1.3204,-5.77858 2.9492,-5.77858 1.6288,0 2.9492,2.58716 2.9492,5.77858 z"
           id="path3308-6-4-3-3-2" /><path
           sodipodi:nodetypes="sssss"
           inkscape:connector-curvature="0"
           style="color:#ffffff;fill:#1a1a1a;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
           d="m 1242.6582,972.40737 c 0,3.19142 -1.3204,5.77859 -2.9493,5.77859 -1.6288,0 -2.9492,-2.58717 -2.9492,-5.77859 0,-3.19143 1.3204,-5.77859 2.9492,-5.77859 1.6289,0 2.9493,2.58716 2.9493,5.77859 z"
           id="path3308-6-8-1-0-0-0" /></g></g><g
       transform="matrix(4.5395627,0,0,4.5395627,-6432.0124,-3136.1894)"
       id="g11115"><g
         transform="translate(1235.5807,288.83453)"
         id="text3282-8-0-1"
         style="font-size:51.74420547px;font-style:oblique;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:80.00000119%;letter-spacing:-2.58721018px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0;stroke-miterlimit:4;stroke-opacity:1;font-family:Frutiger LT 65 Bold;-inkscape-font-specification:'Frutiger LT 65 Bold, Oblique';stroke-dasharray:none"><path
           id="path3626-9-8-3"
           d="m 368.71217,482.53897 6.93363,0 4.76304,-27.01013 0.10349,0 9.05249,27.01013 8.84814,0 6.36897,-36.11699 -6.93364,0 -4.76303,27.01013 -0.10349,0 -9.00075,-27.01013 -8.89989,0 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /><path
           id="path3628-3-2-8"
           d="m 410.98552,466.60196 c 0.47128,-1.82286 1.31395,-3.31265 2.52802,-4.46935 1.21403,-1.15666 2.79188,-1.75387 4.73354,-1.79162 1.91095,0.0507 3.2003,0.67377 3.86807,1.86924 0.66772,1.19551 0.89036,2.65942 0.6679,4.39173 z m 14.90327,8.7964 c -1.42193,0.74598 -2.91061,1.37552 -4.46607,1.88864 -1.55549,0.51313 -3.17434,0.78047 -4.85656,0.80203 -2.17438,-0.0119 -3.8371,-0.59613 -4.98814,-1.75282 -1.15108,-1.15667 -1.62839,-2.81462 -1.43196,-4.97384 l 18.4207,0 c 0.92624,-4.7453 0.72702,-8.59157 -0.59767,-11.53881 -1.32475,-2.9472 -4.40533,-4.46501 -9.24175,-4.55343 -4.15578,0.10459 -7.49547,1.48657 -10.01907,4.14595 -2.52362,2.65942 -4.13346,5.96885 -4.82952,9.92829 -0.74598,4.40144 -0.1245,7.79711 1.86445,10.18701 1.98893,2.3899 5.19503,3.59941 9.61829,3.62851 1.85324,-0.001 3.55999,-0.18002 5.12026,-0.53684 1.56023,-0.35681 3.03105,-0.88503 4.41246,-1.58464 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /><path
           id="path3630-3-7-7"
           d="m 433.16626,474.51872 c -0.45883,2.66911 -0.10257,4.76904 1.06877,6.29978 1.17133,1.53074 3.11854,2.31121 5.84162,2.34139 1.02839,0 1.96889,-0.0517 2.82152,-0.15523 0.8526,-0.10348 1.65612,-0.25872 2.41058,-0.46569 l 0.76024,-5.48481 c -0.4121,0.23392 -0.90504,0.41287 -1.47881,0.53683 -0.57381,0.12398 -1.17558,0.1865 -1.80529,0.18758 -1.28315,-0.041 -2.07724,-0.48941 -2.38228,-1.34534 -0.30507,-0.85591 -0.33906,-1.87354 -0.10198,-3.05287 l 2.1899,-12.41844 6.15749,0 0.89421,-5.07087 -6.15749,0 1.3322,-7.55456 -7.326,2.22497 -0.93983,5.32959 -5.12261,0 -0.89421,5.07087 5.12261,0 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /><path
           id="path3632-6-2-1"
           d="m 453.00179,482.53897 7.91676,0 9.27776,-20.33521 0.10348,0 2.20932,20.33521 8.17548,0 12.87464,-26.64792 -6.62317,0 -9.01303,19.71429 -0.10349,0 -2.31881,-19.71429 -8.07199,0 -8.8578,19.71429 -0.10348,0 -2.4223,-19.71429 -7.34758,0 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /><path
           id="path3634-9-4-3"
           d="m 491.00606,469.39611 c -0.66177,3.9239 -0.0148,7.17511 1.94087,9.75366 1.95567,2.57855 5.13933,3.91526 9.551,4.01012 4.46989,-0.0949 8.14008,-1.43157 11.01059,-4.01012 2.87045,-2.57855 4.66622,-5.82976 5.38731,-9.75366 0.69508,-4.43699 -0.0347,-7.89087 -2.1894,-10.36164 -2.15474,-2.47073 -5.25152,-3.72551 -9.29035,-3.76434 -4.02776,0.0388 -7.55199,1.29361 -10.5727,3.76434 -3.02073,2.47077 -4.9665,5.92465 -5.83732,10.36164 z m 7.39009,-0.82789 c 0.36231,-2.07296 1.23258,-3.89045 2.61083,-5.45248 1.37821,-1.56199 3.19826,-2.38342 5.46015,-2.46429 2.25926,0.0744 3.80698,0.8829 4.64315,2.42548 0.83612,1.54262 1.06527,3.37305 0.68744,5.49129 -0.35819,2.33062 -1.18188,4.42192 -2.47109,6.2739 -1.28925,1.85199 -3.24916,2.83081 -5.87974,2.93645 -2.56799,-0.10888 -4.16646,-1.09416 -4.79541,-2.95586 -0.62897,-1.86168 -0.71408,-3.94651 -0.25533,-6.25449 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /><path
           id="path3636-1-9-4"
           d="m 519.59666,482.53897 6.93363,0 1.72455,-9.77953 c 0.2014,-1.33957 0.53665,-2.84588 1.00577,-4.51893 0.46909,-1.67303 1.21402,-3.13335 2.23478,-4.38096 1.02074,-1.24757 2.45929,-1.90299 4.31566,-1.96625 0.63365,10e-4 1.21995,0.0507 1.75892,0.14876 0.53892,0.0981 0.95403,0.23826 1.24532,0.42042 l 1.23182,-6.98538 c -0.34582,-0.0992 -0.69522,-0.15952 -1.04821,-0.1811 -0.35303,-0.0215 -0.69863,-0.0302 -1.03677,-0.0259 -2.11731,0.12291 -3.95334,0.92494 -5.5081,2.40607 -1.5548,1.48118 -2.54307,2.90413 -2.96482,4.26884 l -0.10348,0 1.06757,-6.05399 -6.15748,0 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /><path
           id="path3638-5-3-8"
           d="m 537.12097,482.53897 6.93363,0 2.28115,-12.93588 0.10349,0 6.61874,12.93588 8.7964,0 -8.5761,-14.74691 12.03342,-11.90101 -8.17548,0 -10.15863,10.65917 -0.10349,0 4.02394,-22.8189 -6.93363,0 z"
           inkscape:connector-curvature="0"
           style="stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" /></g><g
         transform="translate(1237.9931,288.83453)"
         id="text3286-8-1-5"
         style="font-size:51.74420547px;font-style:oblique;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:80.00000119%;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0;stroke-miterlimit:4;stroke-opacity:1;font-family:Frutiger LT 65 Bold;-inkscape-font-specification:'Frutiger LT 65 Bold, Oblique'"><path
           id="path3641-1-5-1"
           style="letter-spacing:-2.58721018px"
           d="m 372.89681,441.33359 9.88302,0 c 5.68805,0.14337 10.76243,-1.07476 15.22316,-3.65439 4.46068,-2.57963 7.39867,-7.38099 8.81397,-14.40411 0.78259,-4.73515 0.45039,-8.41916 -0.99661,-11.05203 -1.44707,-2.63282 -3.64969,-4.4694 -6.60787,-5.50973 -2.95824,-1.04027 -6.3128,-1.53918 -10.06369,-1.49673 l -9.88301,0 z m 12.60936,-30.4252 4.03599,0 c 3.14029,0.0237 5.69045,1.10173 7.65047,3.23397 1.95996,2.13229 2.64989,5.17653 2.06977,9.13273 -0.81518,3.95624 -2.57876,7.00048 -5.29075,9.13274 -2.71204,2.13227 -5.64238,3.21026 -8.79104,3.23397 l -4.036,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3643-9-8-9"
           style="letter-spacing:-2.58721018px"
           d="m 407.70288,441.33359 9.88301,0 c 5.68805,0.14337 10.76243,-1.07476 15.22317,-3.65439 4.46068,-2.57963 7.39866,-7.38099 8.81396,-14.40411 0.78259,-4.73515 0.45039,-8.41916 -0.9966,-11.05203 -1.44707,-2.63282 -3.64969,-4.4694 -6.60787,-5.50973 -2.95825,-1.04027 -6.31281,-1.53918 -10.06369,-1.49673 l -9.88302,0 z m 12.60935,-30.4252 4.036,0 c 3.14029,0.0237 5.69044,1.10173 7.65046,3.23397 1.95997,2.13229 2.64989,5.17653 2.06977,9.13273 -0.81518,3.95624 -2.57876,7.00048 -5.29075,9.13274 -2.71203,2.13227 -5.64238,3.21026 -8.79104,3.23397 l -4.03599,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3645-3-0-6"
           style="letter-spacing:-2.58721018px"
           d="m 442.04325,441.33359 6.93363,0 1.72455,-9.77953 c 0.20139,-1.33957 0.53665,-2.84588 1.00577,-4.51894 0.46909,-1.67302 1.21401,-3.13334 2.23478,-4.38095 1.02074,-1.24758 2.45929,-1.90299 4.31566,-1.96625 0.63364,10e-4 1.21995,0.0507 1.75892,0.14876 0.53892,0.0981 0.95403,0.23825 1.24532,0.42041 l 1.23182,-6.98537 c -0.34582,-0.0992 -0.69522,-0.15952 -1.04821,-0.18111 -0.35304,-0.0215 -0.69863,-0.0302 -1.03678,-0.0259 -2.1173,0.12292 -3.95333,0.92494 -5.50809,2.40608 -1.5548,1.48118 -2.54307,2.90412 -2.96482,4.26884 l -0.10349,0 1.06758,-6.054 -6.15748,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3647-9-1-9"
           style="letter-spacing:-2.58721018px"
           d="m 464.21287,422.03325 c 1.33417,-0.8904 2.7517,-1.59325 4.25259,-2.10855 1.50086,-0.51526 2.99607,-0.77829 4.48561,-0.78909 2.04359,-0.0291 3.4808,0.39133 4.31162,1.26125 0.83077,0.86996 1.05671,2.36405 0.6778,4.48228 l -3.82902,0 c -1.47293,-0.0161 -3.01432,0.0809 -4.62416,0.29106 -1.60987,0.21023 -3.14361,0.63064 -4.60121,1.26125 -1.45604,0.63387 -2.70905,1.56525 -3.75904,2.79415 -1.05,1.22892 -1.7619,2.83297 -2.13571,4.81215 -0.3556,2.54837 0.26367,4.50169 1.85781,5.85995 1.59414,1.35827 3.61412,2.04387 6.05997,2.05681 1.62477,-0.008 3.26034,-0.4064 4.90673,-1.19657 1.64635,-0.79017 3.02388,-1.92637 4.13258,-3.4086 l 0.10349,0 c -0.0584,0.4409 -0.13705,1.03379 -0.23605,1.77868 -0.099,0.74489 -0.15106,1.48008 -0.15609,2.20557 l 6.10574,0 c 0.10352,-1.02733 0.21487,-2.02554 0.33405,-2.99466 0.11912,-0.96911 0.25406,-1.95439 0.40482,-2.95585 0.14411,-0.97018 0.3006,-1.99212 0.46948,-3.06581 0.16883,-1.07366 0.37019,-2.2767 0.6041,-3.60911 l 0.60223,-3.41507 c 0.71836,-3.90877 0.32269,-6.76329 -1.18702,-8.56356 -1.50976,-1.80021 -4.28309,-2.68848 -8.32001,-2.66479 -1.50927,0.007 -3.11723,0.1876 -4.82388,0.54331 -1.70668,0.35576 -3.3047,0.84733 -4.79408,1.47469 z m 1.47465,11.59055 c 0.4764,-1.98026 1.59874,-3.25875 3.36703,-3.83549 1.76825,-0.57671 3.48654,-0.83327 5.15485,-0.76968 l 3.00112,0 c -0.17268,1.04027 -0.4456,2.02555 -0.81877,2.95585 -0.3732,0.93031 -0.90562,1.7733 -1.59725,2.52896 -0.67475,0.73304 -1.45793,1.31084 -2.34955,1.73341 -0.89165,0.42258 -1.86967,0.63817 -2.93408,0.64679 -1.27102,0.006 -2.26889,-0.25224 -2.99361,-0.77615 -0.72474,-0.5239 -1.00132,-1.35179 -0.82974,-2.48369 z"
           inkscape:connector-curvature="0" /><path
           id="path3649-8-0-4"
           style="letter-spacing:-2.58721018px"
           d="m 508.18484,414.94438 c -0.89289,-0.28564 -1.86565,-0.50339 -2.91827,-0.65326 -1.05266,-0.14981 -2.27042,-0.22527 -3.65327,-0.22638 -4.19808,0.0938 -7.62287,1.43268 -10.27438,4.0166 -2.65154,2.58396 -4.33354,5.85027 -5.04603,9.79893 -0.72908,4.14057 -0.22441,7.50174 1.51403,10.08352 1.73843,2.58179 4.7874,3.91203 9.14694,3.99072 1.40746,0.002 2.67872,-0.0668 3.81378,-0.20697 1.13502,-0.14014 2.22668,-0.36437 3.27498,-0.67267 l 0.70236,-5.74353 c -0.66891,0.27812 -1.50806,0.54978 -2.51744,0.81496 -1.00943,0.26519 -2.01981,0.40748 -3.03113,0.42688 -2.41796,-0.055 -4.07753,-0.88933 -4.97874,-2.50309 -0.90122,-1.61374 -1.12812,-3.67702 -0.68068,-6.18982 0.47398,-2.54728 1.46851,-4.58037 2.9836,-6.09927 1.51507,-1.51887 3.36201,-2.29718 5.54083,-2.33493 1.04575,0.005 1.92414,0.0981 2.63515,0.27812 0.71096,0.18005 1.34435,0.41505 1.90014,0.70501 z"
           inkscape:connector-curvature="0" /><path
           id="path3651-8-2-8"
           style="letter-spacing:-2.58721018px"
           d="m 513.70812,425.39658 c 0.47128,-1.82287 1.31395,-3.31265 2.52801,-4.46935 1.21404,-1.15666 2.79188,-1.75387 4.73355,-1.79162 1.91094,0.0507 3.2003,0.67377 3.86806,1.86924 0.66773,1.19551 0.89036,2.65941 0.66791,4.39173 z m 14.90326,8.7964 c -1.42192,0.74597 -2.91061,1.37552 -4.46606,1.88864 -1.5555,0.51313 -3.17435,0.78047 -4.85656,0.80202 -2.17439,-0.0119 -3.8371,-0.59612 -4.98815,-1.75281 -1.15107,-1.15668 -1.62839,-2.81462 -1.43195,-4.97385 l 18.4207,0 c 0.92624,-4.74529 0.72702,-8.59156 -0.59767,-11.53881 -1.32475,-2.9472 -4.40533,-4.46501 -9.24175,-4.55343 -4.15578,0.1046 -7.49547,1.48658 -10.01908,4.14595 -2.52362,2.65943 -4.13346,5.96885 -4.82952,9.9283 -0.74598,4.40144 -0.1245,7.7971 1.86445,10.187 1.98894,2.38991 5.19503,3.59941 9.6183,3.62852 1.85324,-0.001 3.55999,-0.18003 5.12026,-0.53684 1.56022,-0.35681 3.03104,-0.88503 4.41245,-1.58464 z"
           inkscape:connector-curvature="0" /></g><g
         transform="translate(1235.5807,288.83453)"
         id="text3290-1-7-2"
         style="font-size:51.74420547px;font-style:oblique;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:80.00000119%;letter-spacing:-2.58721018px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0;stroke-miterlimit:4;stroke-opacity:1;font-family:Frutiger LT 65 Bold;-inkscape-font-specification:'Frutiger LT 65 Bold, Oblique'"><path
           id="path3654-6-3-2"
           d="m 368.16295,481.98972 6.93363,0 4.76304,-27.01013 0.10348,0 9.05249,27.01013 8.84815,0 6.36896,-36.11699 -6.93363,0 -4.76304,27.01012 -0.10349,0 -9.00074,-27.01012 -8.89989,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3656-0-6-9"
           d="m 410.4363,466.05271 c 0.47128,-1.82287 1.31395,-3.31265 2.52801,-4.46935 1.21404,-1.15667 2.79188,-1.75387 4.73355,-1.79162 1.91094,0.0507 3.2003,0.67376 3.86806,1.86923 0.66773,1.19551 0.89036,2.65942 0.66791,4.39174 z m 14.90326,8.7964 c -1.42192,0.74597 -2.91061,1.37552 -4.46606,1.88864 -1.5555,0.51312 -3.17435,0.78047 -4.85656,0.80202 -2.17439,-0.0118 -3.8371,-0.59612 -4.98815,-1.75281 -1.15107,-1.15668 -1.62839,-2.81462 -1.43195,-4.97385 l 18.4207,0 c 0.92624,-4.7453 0.72702,-8.59156 -0.59767,-11.53881 -1.32475,-2.9472 -4.40533,-4.46501 -9.24175,-4.55343 -4.15578,0.10459 -7.49547,1.48658 -10.01908,4.14595 -2.52362,2.65942 -4.13346,5.96885 -4.82952,9.92829 -0.74598,4.40145 -0.1245,7.79711 1.86445,10.18701 1.98894,2.38991 5.19503,3.59941 9.6183,3.62852 1.85324,-10e-4 3.55999,-0.18003 5.12026,-0.53684 1.56022,-0.35682 3.03104,-0.88503 4.41245,-1.58465 z"
           inkscape:connector-curvature="0" /><path
           id="path3658-5-4-9"
           d="m 432.61703,473.96947 c -0.45882,2.66911 -0.10257,4.76903 1.06878,6.29977 1.17133,1.53075 3.11853,2.31121 5.84161,2.3414 1.02839,0 1.9689,-0.0517 2.82153,-0.15523 0.85259,-0.10349 1.65612,-0.25872 2.41058,-0.46569 l 0.76023,-5.48482 c -0.4121,0.23393 -0.90503,0.41287 -1.47881,0.53684 -0.57381,0.12397 -1.17557,0.1865 -1.80529,0.18757 -1.28315,-0.041 -2.07724,-0.4894 -2.38228,-1.34533 -0.30507,-0.85592 -0.33906,-1.87354 -0.10197,-3.05287 l 2.1899,-12.41845 6.15748,0 0.89421,-5.07087 -6.15748,0 1.33219,-7.55455 -7.32599,2.22497 -0.93983,5.32958 -5.12261,0 -0.89421,5.07087 5.12261,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3660-6-1-4"
           d="m 452.45257,481.98972 7.91676,0 9.27775,-20.33522 0.10349,0 2.20931,20.33522 8.17548,0 12.87464,-26.64793 -6.62317,0 -9.01303,19.71429 -0.10348,0 -2.31881,-19.71429 -8.07199,0 -8.8578,19.71429 -0.10349,0 -2.42229,-19.71429 -7.34758,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3662-9-7-8"
           d="m 490.45683,468.84686 c -0.66176,3.92389 -0.0148,7.17511 1.94087,9.75365 1.95567,2.57856 5.13934,3.91526 9.551,4.01013 4.46989,-0.0949 8.14008,-1.43157 11.01059,-4.01013 2.87046,-2.57854 4.66623,-5.82976 5.38731,-9.75365 0.69508,-4.437 -0.0347,-7.89087 -2.18939,-10.36165 -2.15474,-2.47073 -5.25152,-3.72551 -9.29035,-3.76434 -4.02776,0.0388 -7.552,1.29362 -10.5727,3.76434 -3.02073,2.47078 -4.9665,5.92466 -5.83733,10.36165 z m 7.39009,-0.8279 c 0.36231,-2.07296 1.23259,-3.89045 2.61083,-5.45248 1.37822,-1.56198 3.19827,-2.38341 5.46015,-2.46428 2.25927,0.0744 3.80698,0.88289 4.64315,2.42548 0.83613,1.54262 1.06528,3.37305 0.68745,5.49128 -0.35819,2.33063 -1.18189,4.42193 -2.47109,6.2739 -1.28925,1.852 -3.24917,2.83081 -5.87975,2.93645 -2.56799,-0.10887 -4.16646,-1.09416 -4.7954,-2.95585 -0.62898,-1.86168 -0.71409,-3.94651 -0.25534,-6.2545 z"
           inkscape:connector-curvature="0" /><path
           id="path3664-3-7-9"
           d="m 519.04743,481.98972 6.93364,0 1.72455,-9.77953 c 0.20139,-1.33958 0.53665,-2.84589 1.00577,-4.51894 0.46909,-1.67302 1.21401,-3.13334 2.23478,-4.38095 1.02073,-1.24758 2.45928,-1.90299 4.31566,-1.96626 0.63364,10e-4 1.21995,0.0507 1.75891,0.14877 0.53893,0.0981 0.95403,0.23825 1.24533,0.42041 l 1.23182,-6.98538 c -0.34582,-0.0991 -0.69522,-0.15951 -1.04821,-0.1811 -0.35304,-0.0215 -0.69863,-0.0302 -1.03678,-0.0259 -2.1173,0.12292 -3.95333,0.92494 -5.5081,2.40607 -1.55479,1.48119 -2.54306,2.90413 -2.96481,4.26885 l -0.10349,0 1.06758,-6.054 -6.15748,0 z"
           inkscape:connector-curvature="0" /><path
           id="path3666-1-3-1"
           d="m 536.57174,481.98972 6.93364,0 2.28114,-12.93589 0.10349,0 6.61874,12.93589 8.7964,0 -8.57609,-14.74691 12.03341,-11.90102 -8.17548,0 -10.15863,10.65917 -0.10349,0 4.02395,-22.8189 -6.93364,0 z"
           inkscape:connector-curvature="0" /></g></g></g></svg>
</a>
